* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

/* .product-card {
    
    
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* height: 300px; 
} */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    overflow: hidden;
}

.product-card:hover {
    background-color: #f8f9fa;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.shoe-image-container {
    overflow: hidden;
    height: 250px;
}

.shoe-image-container:hover img {
    transform: scale(1.25);
}

li,
li a {
    list-style: none;
    text-decoration: none;
    color: black;
}