* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #B0B0B0;
}

.navbar, 
#collection, 
.testimonials {
    background: #1A1A1A;
    color: white;
}

#search-container #cart-btn {
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

.navbar {
    width: 100%;
    padding: 15px 20px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-toggler {
    border-color: white;
}

.navbar-nav .nav-link {
    color: #B0B0B0;
}

#auth-buttons .btn {
    background-color: #3A3A3A;
    color: white;
    border: none;
}

#auth-buttons .btn:hover {
    background-color: #505050;
}

.sidebar {
    background-color: #1F1F1F !important;
}

.nav-link {
    color: #B0B0B0 !important;
}

.nav-link.active {
    color: #FFF !important;
    background-color: #333 !important;
}

#search {
    background-color: #1A1A1A !important;
    color: white !important;
    border: 1px solid #333 !important;
}

#search::placeholder {
    color: white !important;
    opacity: 1 !important;
}

#cart-link {
    background-color: #444 !important;
    color: #FFF !important;
    border: none !important;
}

.btn-warning {
    background-color: #444 !important;
    color: #FFF !important;
    border: none !important;
}

.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#mainProductImageContainer {
    height: 300px;
}

.thumbnail-image {
    width: 80%;
    height: 70%;
    object-fit: cover;
    margin-top: 50px;
}

.product-details {
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.similar-items {
    margin-top: 20px;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.testimonials {
    background: #000;
    color: #FFF;
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

.contact-section {
    padding: 30px 0;
    background: #1A1A1A;
    width: 100%;
}

.contact-section p {
    color: #B0B0B0;
}

section.container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    background-color: #1A1A1A !important;
    color: white !important;
    border: 1px solid #333 !important;
}

.form-control::placeholder {
    color: #bbb !important;
}

select.form-control {
    appearance: none;
    background-color: #1A1A1A !important;
    color: white !important;
    border: 1px solid #333 !important;
}

.btn-primary {
    background-color: #333 !important;
    border: none !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #555 !important;
}

.btn-secondary {
    background-color: #666 !important;
    border: none !important;
    color: white !important;
}

.btn-secondary:hover {
    background-color: #888 !important;
}

.figure-caption p {
    color: white !important;
    font-size: 14px;
}
